
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f9f9f9;
  color: #0b1020;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f9f9f9;
  color: #0b1020;
}

.font-sora {
  font-family: var(--font-sora), sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}